---
layout: archive
title: "Research"
permalink: /publications/
author_profile: true
---

<h2>Working Papers</h2>

<b>From Founders to Funders: Generalized Reciprocity and Embeddedness in Founders’ Transition to Angel Investing</b>

<i>With Alessandro Piazza</i><br><br>

This study examines the transition of entrepreneurs to angel investors through the lens of generalized reciprocity and embeddedness. 
We theorize that for founders, receiving funding from individual angel investors, rather than exclusively from venture capital sources, 
makes the transition to angel investing more likely. Furthermore, we posit that embeddedness between the entrepreneur and angel investor 
amplifies this effect. Drawing on social exchange theory and the notion of embeddedness, we develop hypotheses that we then test through 
an archival study of venture-backed founders and a vignette experiment. Our findings support the role of both generalized reciprocity and 
embeddedness in shaping the likelihood of entrepreneurs becoming angel investors. Entrepreneurs who received angel funding were more likely 
to become angel investors themselves, with this effect intensified when they shared educational, professional, or geographic ties with their 
angel investors. These results enrich our understanding of reciprocity dynamics in entrepreneurial ecosystems, highlighting the importance 
of interpersonal connections in capital flows. Our study also contributes to the literature on generalized reciprocity and embeddedness 
while underscoring the prosocial dimension of angel investing and its unique role in venture financing, with relevant implications for 
fostering self- sustaining entrepreneurial ecosystems.

<br><br>

<b>The Role of Experimenter Scale in Shaping the Diversity of Problem-Solving Approaches</b><br>

<i>With Ashish Arora and Sharique Hasan</i><br><br>

Several different approaches must be tried to solve important, complex problems, but in some problem domains e.g., Alzheimer's Disease, 
we see substantial herding in the choice of approach. In this paper, we develop a simple model to argue that a market consisting of a handful 
of large scale experimenters---firms which launch multiple experiments---produces a greater variety of approaches at the market level compared 
to a market consisting of several small-scale experimenters. This result is contrary to conventional wisdom which suggests that a greater variety 
of approaches would spawn from a market of many individual minds.


<br><br>

<b>Blockbusters Products and the Direction of Technological Change</b><br>

<i>With Wesley M. Cohen, Matthew J. Higgins, and Yoko Shibuya</i><br><br>

Why do firms with the resources to innovate choose to refine their existing products instead? In this paper, we examine how the distribution of sales across 
a firm's products influences innovation strategies. We argue that firms with dominant products are more likely to pursue incremental innovations related to those 
products, even when controlling for overall firm size. Drawing on detailed product-level data from the pharmaceutical industry, we show that firms with high-sales 
products tend to develop new products that closely resemble their existing blockbuster. This behavior, driven by demand- and supply-side adjustment costs, 
limits firms' incentives to invest in more radical, novel innovations. Our findings provide insights into how blockbuster products shape firms’ innovation choices, 
with implications for understanding the dynamics of technological change in industries characterized by high innovation intensity.


<br><br>

<b>Opinion Trumps Facts: Entrepreneurship and Competitive Dynamics in Political News</b><br>

<i>With Ronnie Chatterji, Sharique Hasan, and Dror Shvadron</i><br><br>

We explore how new entrants in digital media compete with incumbents and create unintended consequences in the market for information. 
Focusing on the political news business from 2014 to 2021, we find that entrepreneurs produce content that is much more opinionated and less factual than incumbents. 
Entrants pursue this strategy to minimize costs of production and address unmet needs of readers, both of which help them compete with incumbents. 
Incumbents also modify their content in response to competition, introducing more opinionated news stories with fewer facts and more opinion. 
We discuss the implications of these competitive dynamics for the future of the media business and the impact on society.




<!-- {% if site.author.googlescholar %}
  <div class="wordwrap">You can also find my articles on <a href="{{site.author.googlescholar}}">my Google Scholar profile</a>.</div>
{% endif %}

{% include base_path %} -->

<!-- New style rendering if publication categories are defined -->
<!-- {% if site.publication_category %}
  {% for category in site.publication_category  %}
    {% assign title_shown = false %}
    {% for post in site.publications reversed %}
      {% if post.category != category[0] %}
        {% continue %}
      {% endif %}
      {% unless title_shown %}
        <h2>{{ category[1].title }}</h2><hr />
        {% assign title_shown = true %}
      {% endunless %}
      {% include archive-single.html %}
    {% endfor %}
  {% endfor %}
{% else %}
  {% for post in site.publications reversed %}
    {% include archive-single.html %}
  {% endfor %}
{% endif %} -->