---
layout: archive
title: "Research"
permalink: /publications/
author_profile: true
---

<h2>Working Papers</h2>

<b>If you had only one shot: Scale and herding in innovation experiments</b><br>

<i>With Ashish Arora and Sharique Hasan</i><br><br>

<i>Abstract:</i> Solving complex problems often requires exploring multiple approaches, especially when the best approach is unknown. 
However, it is likely that the collective risk of failure increases when solvers concentrate on a narrow set of approaches. 
In this paper, we develop a simple model to argue that markets dominated by a few large-scale 
experimenters---firms that launch multiple experiments---produce greater diversity in approaches than markets with many small-scale experimenters. 
This finding challenges the conventional wisdom that having many distinct experimenters leads to better outcomes. 
We test our model's predictions using data from pharmaceutical R\&D. In our analysis, we define an experiment as a pre-clinical trial, 
a market as a therapeutic class–year, and an approach as the choice of target. Our estimates suggest that a 1-unit increase in the average 
number of experiments conducted per firm in a market results in an increase of over three standard deviations in the diversity of targets explored. 
Furthermore, a one-standard-deviation increase in target diversity corresponds to a 25.9 percentage point increase in the likelihood that at least 
one experiment progresses to Phase 1 clinical trials. Our findings have implications for technology policy, highlighting the importance of optimizing 
the allocation of experiments across firms to maximize diversity and the likelihood of success at the market level.


<br><br>

<b>Blockbusters, Sequels, and the Nature of Innovation</b><br>
<a href="https://papers.ssrn.com/sol3/papers.cfm?abstract_id=5086278" target="_blank" rel="noopener noreferrer">SSRN</a><br>
<i>With Wesley M. Cohen, Matthew J. Higgins, and Yoko Shibuya</i><br><br>

<i>Abstract:</i>  Why do large firms pursue incremental innovations? In this paper, we argue that firms with high-selling, "blockbuster" products are more likely to pursue 
incremental innovations related to those products, even when controlling for overall firm size. Drawing on detailed product-level data from the pharmaceutical 
industry, we show that firms with \$1 billion drugs develop new products that closely resemble those existing blockbusters. This behavior, driven by 
demand- and supply-side adjustment costs, limits firms' incentives to invest in more radical innovations. Crucially, the blockbuster model is associated 
with firms forgoing opportunities in commercially promising markets. Our findings provide insights into how blockbuster products shape firms’ innovation choices, 
with implications for understanding the dynamics of technological change in industries characterized by high innovation intensity.


<br><br>

<b>Opinion Trumps Fact: Entrepreneurship and Competition in Political News</b><br>

<i>With Ronnie Chatterji, Sharique Hasan, and Dror Shvadron</i><br><br>

<i>Abstract:</i> New entrants create and capture value by serving unmet needs and competing with incumbent firms that might otherwise be slow to change their product offerings. 
But entry can also lead to unintended consequences for the industry and society. We analyze the impact of entrepreneurship and competition in the American political 
news business from 2014 to 2021. We find that entrepreneurs produced news content that was much more opinionated than incumbents, with more editorializing and 
persuasive language. However, this increased competition---especially from opinionated entrants---led incumbent firms to adopt a similar content strategy. 
We also find that on Twitter, these opinions triggered more social media posts that were likely to contain hate speech and expressions of anger. 
Nevertheless, this strategy failed to translate into website traffic, a key performance indicator. Our findings highlight the unexpected effect of media 
entrepreneurship. Entrants disrupted the traditional news business by making it more opinionated, leading to polarization without better business performance.

<br><br>

<b>From Founders to Funders: Generalized Reciprocity and Embeddedness in Founders’ Transition to Angel Investing</b>

<i>With Alessandro Piazza</i><br><br>

<i>Abstract:</i> This study examines the transition of entrepreneurs to angel investors through the lens of generalized reciprocity and embeddedness. 
We theorize that for founders, receiving funding from individual angel investors, rather than exclusively from venture capital sources, 
makes the transition to angel investing more likely. Furthermore, we posit that embeddedness between the entrepreneur and angel investor 
amplifies this effect. Drawing on social exchange theory and the notion of embeddedness, we develop hypotheses that we then test through 
an archival study of venture-backed founders and a vignette experiment. Our findings support the role of both generalized reciprocity and 
embeddedness in shaping the likelihood of entrepreneurs becoming angel investors. Entrepreneurs who received angel funding were more likely 
to become angel investors themselves, with this effect intensified when they shared educational, professional, or geographic ties with their 
angel investors. These results enrich our understanding of reciprocity dynamics in entrepreneurial ecosystems, highlighting the importance 
of interpersonal connections in capital flows. Our study also contributes to the literature on generalized reciprocity and embeddedness 
while underscoring the prosocial dimension of angel investing and its unique role in venture financing, with relevant implications for 
fostering self- sustaining entrepreneurial ecosystems.

<br><br>


<!-- {% if site.author.googlescholar %}
  <div class="wordwrap">You can also find my articles on <a href="{{site.author.googlescholar}}">my Google Scholar profile</a>.</div>
{% endif %}

{% include base_path %} -->

<!-- New style rendering if publication categories are defined -->
<!-- {% if site.publication_category %}
  {% for category in site.publication_category  %}
    {% assign title_shown = false %}
    {% for post in site.publications reversed %}
      {% if post.category != category[0] %}
        {% continue %}
      {% endif %}
      {% unless title_shown %}
        <h2>{{ category[1].title }}</h2><hr />
        {% assign title_shown = true %}
      {% endunless %}
      {% include archive-single.html %}
    {% endfor %}
  {% endfor %}
{% else %}
  {% for post in site.publications reversed %}
    {% include archive-single.html %}
  {% endfor %}
{% endif %} -->